.search-form {
    display: flex;
    align-items: center;
    margin-top: 35%;
  }
  
  .search-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 270px;
    padding: 10px;
    font-size: 16px;
    background-color: #707070;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    margin-right: -1px;
    outline: none;
    color: azure;
  }

  .search-input::placeholder {
    color: #f6f6f6;
  }
  
  .search-button {
    padding: 7px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #707070;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  